.advantages {
  margin: 0 0 8rem;
}

.advantages__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;

  @media screen and (max-width: 1200px) {
    gap: 1.5%;
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 1rem;
  }
}

.advantages__img {
  display: block;
  border-radius: 2.5rem;
  margin: 0 0 1.3rem;
}

.advantages__name {
  margin: 0 0 1rem;
  font-size: 1.8rem;
  font-weight: 600;

  @media screen and (max-width: 1200px) {
    font-size: 1.5rem;
  }
}

.advantages__list {
  margin: 0;

  @media screen and (max-width: 1200px) {
    padding: 0 0 0 1.2rem;
  }
}

.advantages__list-item {
  margin: 0 0 0.3rem;
  font-size: 1.4rem;
  color: #a8a6a6;
  font-weight: 300;

  @media screen and (max-width: 1200px) {
    font-size: 1.2rem;
  }
}
