.faq {
  padding: 6rem 0;
  overflow: hidden;
}

.faq__heading {
  @include heading-page;

  position: relative;
  margin: 0;
  padding: 0 0 7.5rem;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0.5rem;
    transform: translateX(-50%);
    width: 8rem;
    height: 7rem;
    background: url("../img/decor-heading-faq.svg") no-repeat center;
    background-size: contain;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 3.5rem;
  }
}

.faq__accordion {
  padding: 0 2rem;
  margin: 0 auto 2rem;
  width: 80%;
  border: 4px solid #ffffff;
  border-radius: 2.5rem;

  &--active .faq__accordion-button::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &--active .faq__accordion-content {
    padding: 1rem 0 2rem;
    opacity: 1;
    max-height: 20rem;
    transition: all 0.2s linear;
    will-change: opacity, max-height, padding;

    @media screen and (max-width: 768px) {
      max-height: 25rem;
    }
  }

  @media screen and (max-width: 1300px) {
    width: 90%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    border: 3px solid #ffffff;
    padding: 0 1.5rem;
    border-radius: 2rem;
  }
}

.faq__accordion-button {
  position: relative;
  cursor: pointer;
  padding: 2rem 13rem;
  display: block;
  background: none;
  border: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 0.4rem;
    background: #ffffff;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 0.4rem;
    height: 2.5rem;
    background: #ffffff;
    top: 50%;
    left: calc(2.5rem / 2);
    transform: translate(-50%, -50%);
    transition: 0.2s transform ease;
  }

  @media screen and (max-width: 1440px) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @media screen and (max-width: 1330px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media screen and (max-width: 1200px) {
    font-size: 1.7rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.4rem;
    padding-left: 3rem;
    padding-right: 3rem;

    &::before {
      width: 1.5rem;
      height: 0.2rem;
    }

    &::after {
      width: 0.2rem;
      height: 1.5rem;
      left: calc(1.5rem / 2);
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 1.3rem;
  }

  @media screen and (max-width: 520px) {
    padding-left: 2.5rem;
    padding-right: 0;
    text-align: left;
  }
}

.faq__accordion-content {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition:
    opacity 0.2s linear,
    max-height 0.2s linear,
    padding 0.2s linear;
  will-change: opacity, max-height, padding;

  @media screen and (max-width: 1200px) {
    font-size: 1.4rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 520px) {
    font-size: 1.1rem;
  }
}
