.faq {
  padding: 6rem 0;
  overflow: hidden;
}

.faq__heading {
  position: relative;
  margin: 0;
  padding: 0 0 7.5rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 800;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0.5rem;
    transform: translateX(-50%);
    width: 6.5rem;
    height: 7rem;
    background: url("../img/decor-heading-faq.svg") no-repeat;
    background-size: contain;
  }
}

.faq__accordion {
  padding: 0 2rem;
  margin: 0 auto 2rem;
  width: 80%;
  border: 4px solid #ffffff;
  border-radius: 2.5rem;

  &--active .faq__accordion-button::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &--active .faq__accordion-content {
    padding: 1rem 0 2rem;
    opacity: 1;
    max-height: 20rem;
    transition: all 0.2s linear;
    will-change: opacity, max-height, padding;
  }
}

.faq__accordion-button {
  position: relative;
  cursor: pointer;
  padding: 2rem 13rem;
  display: block;
  background: none;
  border: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 0.4rem;
    background: #ffffff;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 0.4rem;
    height: 2.5rem;
    background: #ffffff;
    top: 50%;
    left: calc(2.5rem / 2);
    transform: translate(-50%, -50%);
    transition: 0.2s transform ease;
  }
}

.faq__accordion-content {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition:
    opacity 0.2s linear,
    max-height 0.2s linear,
    padding 0.2s linear;
  will-change: opacity, max-height, padding;
}
