.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 2.5rem 0;
  background: rgba(0, 0, 0, 0.2);
  animation: animationHeader 0.6s ease-in;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

@keyframes animationHeader {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
