.product-description {
  margin: 10rem 0 8rem;
}

.product-description__heading {
  margin: 0 auto 1.6rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;

  @media screen and (max-width: 1080px) {
    width: 90%;
  }
}

.product-description__text {
  margin: 0 auto;
  width: 65%;
  text-align: center;
  font-size: 1.4rem;
  color: #a8a6a6;
  font-weight: 500;

  @media screen and (max-width: 1080px) {
    width: 80%;
  }
}
