.promo {
  overflow: hidden;
  position: relative;
  background: url("../img/promo-bg.jpg");
  background-size: auto 100%;

  &::before {
    content: "";
    width: 100%;
    height: 12rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(2, 1, 3, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-bg@2x.jpg");
  }
}

.promo__container {
  padding: 14rem 0 17rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__heading {
  margin: 0 0 5rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0 4px 9px rgba(0, 0, 0, 0.8);
  animation: animationApperance 0.6s ease-in;

  span {
    animation: animationApperance 0.6s ease-in forwards;
    // animation-delay: 0.3s;
    transform: scale(0);
    margin: -1.6rem 0 0;
    display: block;
    text-shadow: 0 4px 13px rgba(0, 0, 0, 0.7);
    font-size: 8rem;
    font-weight: 800;
    color: $colorButtonMain;
  }
}

.promo__link {
  position: relative;
  // animation: animationApperance 0.6s ease-in;
  // animation-delay: 0.6s;
  padding: 1.3rem 2.1rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: normal;
  color: inherit;
  text-decoration: none;
  background: $colorButtonMain;
  border-radius: 0.6rem;
  box-shadow: 0 6px 0 0 $colorButtonSecond;
  transition: 0.3s transform ease-in;

  &:hover {
    animation: pulse 3s infinite;
  }
}

.promo__people-bg {
  &-1 {
    position: absolute;
    left: 0;
    bottom: -35%;
    width: 21.81rem;
    height: 63.1rem;
    background: url("../img/promo-people-bg-1.png");
    transition: transform 0.2s;
    // transform: translateY(30%) rotate(8.5deg);
    // animation: animationPeopleLeft 1s linear;
  }

  &-2 {
    position: absolute;
    width: 21.81rem;
    height: 62.4rem;
    right: 0;
    bottom: -35%;
    background: url("../img/promo-people-bg-2.png");
    transition: transform 0.2s;
    // transform: translateY(30%) rotate(-6.5deg);
    // animation: animationPeopleRight 1s linear;
  }
}

@keyframes animationApperance {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animationPeopleLeft {
  0% {
    left: -100%;
  }

  70% {
    transform: translateY(30%) rotate(0);
  }

  100% {
    left: 0;
    transform: translateY(30%) rotate(8.5deg);
  }
}

@keyframes animationPeopleRight {
  0% {
    right: -100%;
  }

  70% {
    transform: translateY(30%) rotate(0);
  }

  100% {
    right: 0;
    transform: translateY(30%) rotate(-6.5deg);
  }
}

@keyframes pulse {
  0% {
    box-shadow:
      0 0 0 0 rgba($colorButtonSecond, 0.4),
      0 0 0 2px rgba($colorButtonSecond, 1),
      0 0 0 4px rgba($colorButtonSecond, 0.9);
  }

  50% {
    box-shadow:
      0 0 0 8px rgba($colorButtonSecond, 0.8),
      0 0 0 15px rgba($colorButtonSecond, 0.6),
      0 0 0 20px rgba($colorButtonSecond, 0.3);
  }

  100% {
    box-shadow:
      0 0 0 0 rgba($colorButtonSecond, 0.4),
      0 0 0 2px rgba($colorButtonSecond, 0.2),
      0 0 0 4px rgba($colorButtonSecond, 0.1);
  }
}

// @keyframes pulse {
//   0% {
//     box-shadow: 0 0 0 0 rgba($colorButtonSecond, 0.4), 0 0 0 2px rgba($colorButtonSecond, 0.2), 0 0 0 4px rgba($colorButtonSecond, 0.1);
//   }

//   50% {
//     box-shadow: 0 0 0 8px rgba($colorButtonSecond, 0.8), 0 0 0 15px rgba($colorButtonSecond, 0.6), 0 0 0 20px rgba($colorButtonSecond, 0.3);
//   }

//   100% {
//     box-shadow: 0 0 0 0 rgba($colorButtonSecond, 0.4), 0 0 0 2px rgba($colorButtonSecond, 0.2), 0 0 0 4px rgba($colorButtonSecond, 0.1);
//   }
// }
