.team {
  padding: 6rem 0 0;
}

.team__heading {
  @include heading-page;

  margin: 0 0 1rem;
}

.team__description {
  margin: 0 auto 10rem;
  width: 65%;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #a8a6a6;
  font-weight: 400;

  @media screen and (max-width: 1280px) {
    margin-bottom: 5rem;
    width: 80%;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    width: 90%;
    margin-bottom: 3.5rem;
    font-size: 1.2rem;
  }

  @media screen and (max-width: 520px) {
    width: auto;
  }

  @media screen and (max-width: 425px) {
    margin-bottom: 2.5rem;
  }
}

.team__people {
  position: relative;
  border-radius: 2rem;

  &:hover {
    .team__people-picture::before {
      opacity: 0.6;
    }

    .team__people-description {
      z-index: 1;
      bottom: 50%;
      transform: translateY(50%);
    }
  }
}

.team__people-picture {
  display: block;
  position: relative;
  transition: 0.3s all;
  z-index: -1;

  &::before {
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: #000000;
    transition: 0.3s opacity ease-in;
  }
}

.team__people-img {
  display: block;
  position: relative;
  border-radius: 3rem;
}

.team__people-description {
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
  transition:
    0.3s transform ease-in,
    0.3s bottom ease-in;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-shadow: 0 4px 9px rgba(0, 0, 0, 0.8);

  span {
    margin: 0.3rem 0 0;
    display: block;
    color: $colorButtonMain;
  }
}

.team__wrapper-top {
  margin: 0 0 6rem;
}

.team__wrapper {
  margin: 0 0 8.5rem;
}

.team__wrapper-middle {
  margin: 0 0 2rem;
}

.team__wrapper-top,
.team__wrapper-middle,
.team__wrapper-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.team__subheading {
  margin: 0 0 1.5rem;
  text-align: center;
  font-size: 5.5rem;
  font-weight: 800;

  span {
    color: $colorButtonMain;
  }

  @media screen and (max-width: 1280px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }
}

.team__text {
  margin: 0 auto;
  width: 95%;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #a8a6a6;
  font-weight: 400;

  @media screen and (max-width: 1280px) {
    font-size: 1.3rem;
  }

  @media screen and (max-width: 768px) {
    width: auto;
    font-size: 1.2rem;
  }
}
